<div class="paginatio text-center" style="margin-top: 50px;">
  <div style="font-size: 20px;">
    {% if page_obj.has_previous %}
      <a href="?{{ page_obj.previous_page_number.querystring }}"class="prev text-dark">&lsaquo;&lsaquo; </a>
    {% else %}
      <span class="disabled prev">&lsaquo;&lsaquo; </span>
    {% endif %}
    {% for page in page_obj.pages %}
      {% if page %}
        {% ifequal page page_obj.number %}
          <a class="current text-dark" href="#"><strong>{{ page }}</strong></a>
        {% else %}
          <a href="?{{ page.querystring }}" class="page text-dark">{{ page }}</a>
        {% endifequal %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?{{ page_obj.next_page_number.querystring }}" class="next text-dark"> &rsaquo;&rsaquo;</a>
    {% else %}
      <span class="disabled next"> &rsaquo;&rsaquo;</span>
    {% endif %}
  </div>
</div>
