{% extends 'base.html' %}

{% block main %}
<div class="main-page">
  <div class="col-md-8 offset-md-2">
    <h2>
      关于我
    </h2>
    <p>LXQ（🦞龙虾球⚽），现19级大学本科软件工程学生一枚；语言方向Python、Java、C++，涉猎爬虫，web框架，经典算法和大数据框架等，现醉心于机器学习、深度学习。一个处在时代信息潮流前沿却关心乡土，醉心传统，热衷思考的人</p>
    <h2>
      接下来可能推出的文章：
    </h2>
    <ul>
      <li>Django框架（实例或理解）</li>
      <li>爬虫教程或实操例子</li>
      <li>博客制作心得</li>
      <li>论文精读系列（师承B站李沐老师😜）</li>
      <li>经典算法</li>
      <li>初步MapReduce</li>
      <li>人工智能初涉</li>
      <li>B站大师计划——人文方向</li>
      <li>坑太多填不完了😂</li>
    </ul>
    <h2>
      我的相关链接
    </h2>
    <p>见下方 ☟</p>
  </div>
</div>
{% endblock main %}

